.container {
    text-align: center;
    margin: auto;

}
#wrapper{
    width: 750px;
    height: 750px;
    border: 2px solid black;
    margin-top: 20px;
    padding: 20px;
    

}
#currentTime{
    float: right;
}
#questionsDiv{
    margin: 30px;
}

h1{
    text-align: center;
}

li{
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
}

#createDiv{
    margin-top: 20px;
    border-top: 1px solid grey;
}

#submit{
    margin-left: 20px;
}